<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
    <link rel="icon" type="image/icon-x"  href="/img/favicon-32x32.png">
    
</head>
<body class="font-principal bg-gray-200 dark:bg-slate-800">
    <div id="sidebar"></div>
    <h1>admin</h1>
    <script src="../components/sidebar.js"></script>
</body>
</html>