<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="../Principal/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="icon" type="image/icon-x"  href="/img/favicon-32x32.png">
   
</head>
<body class="font-principal bg-white dark:bg-slate-900 overflow-hidden dark:text-white">
    <div class="h-screen bg-slate-300 flex justify-center items-center"id="contenedor">
        <div class="lds-roller">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
    </div>

    <div id="sidebar"></div>

    <div class="lg:ml-64 lg:pl-4 lg:flex lg:flex-col lg:w-75% bg-gray-200 py-2 dark:bg-slate-800">
        <div class="text-center py-4 flex justify-center">
            <h1 class="text-4xl font-bold text-gray-700 dark:text-white">Bienvenido</h1>  
            <p class="text-4xl ml-5 font-sans-bold text-gray-700 dark:text-white" id="name"></p>
        </div>
        <div id="alerta" class="flex justify-center"></div>
        <div class="my-6 mx-8">
            <h2 class="font-bold text-2xl text-gray-700 mb-2 dark:text-white">Agende su cita ahora</h2>
            <span>En el siguiente formulario llene sus datos <br>El costo de la consulta son de 40$</span>
            <span><br> Horario de Consulta de 8:00am a 5:00pm</span>
        </div>
        <div class="flex mx-2">
            <div class="bg-gray-50 rounded-2xl shadow-lg max-w-3xl w-full mx-4 md:mx-8 p-4 items-center flex-col gap-3 md:w-1/2 px-2 flex sm:items-center 
            sm:justify-center dark:bg-slate-900 dark:shadow-md dark:shadow-indigo-600">

                <h1 class="mx-8 font-bold text-xl text-gray-700 dark:text-white">Datos Del Paciente:</h1>
                <form action="" id="citas">
                    <div class="flex my-4">
                    <p>Edad:</p>
                        <input type="number" id="edad" name="Edad"
                        class="mx-4 border-solid border-2 rounded-md p-1 w-full dark:bg-slate-600">  
                    </div>
                    <div class="flex my-4">
                        <p>Telefono:</p>
                        <input type="tel" id="tlf" name="Telefono"
                        class="mx-4 border-solid border-2 rounded-md p-1 w-full dark:bg-slate-600">
                    </div>
                    <div class="flex my-4">
                        <p>Fecha de la Cita:</p>
                        <input type="date" id="fecha" name="Fecha" autocomplete="off"
                        class="mx-4 border-solid border-2 rounded-md p-1 w-full dark:bg-slate-600">
                    </div>
                    <div class="flex my-4">
                        <p>Hora de la cita:</p>
                        <input type="time"  min="08:00" max="17:00" id="hora" name="Hora"
                        class="mx-4 border-solid border-2 rounded-md p-1 w-full dark:bg-slate-600">
                    </div>
                    <div class="flex my-4">
                          <p class="py-3">Sintomas:</p>
                          <textarea id="sintomas" name="Sintomas"
                          class="mx-4 border-solid border-2 rounded-md p-1 w-full dark:bg-slate-600"></textarea>
                    </div>
                    <div class="flex">
                        <button type="submit" class="text-white mx-32 
                        border-solid border-2 
                        rounded-md bg-blue-400 p-1.5 
                        hover:bg-blue-800 ease-out duration-300">Agendar</button>
                    </div>
                </form>
            </div>
            <div class="md:block hidden md:w-1/2">
                <img class="rounded-2xl w-56 lg:w-96 dark:bg-slate-800 flex items-center h-full shadow-lg mx-16 dark:hidden" src="/img/undraw_Doctors_p6aq.png" alt="">
                <img src="/img/undraw_Doctors_v2.jpg" class="dark:block rounded-md hidden my-6 h-full lg:w-96 dark:shadow-md dark:shadow-indigo-600 dark:bg-slate-800  items-center shadow-lg mx-16" alt="">
                
            </div>
        </div>

        <div class="my-4 text-center">
            <h2 class="font-bold text-gray-700 text-2xl dark:text-white">Citas agendadas</h2>
        </div>
       
        <div id="container"></div>

        <div class="flex m-8">
            <span>Realizar el pago</span>
            <a href="/principal/pagos">
               <button class="mx-4 border-2 border-solid p-1 ease-out duration-300 
                bg-slate-400 rounded-md text-white shadow-lg hover:bg-slate-900 dark:border-solid dark:border-2 dark:bg-slate-800 ">Pagar</button> 
               </a>  
        </div>
    </div>

    <script src="../components/sidebar.js"></script>
    <script src="../components/notificaciones.js"></script>
    <script src="index.js"></script>

</body>
</html>