<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Inter:wght@300;400;500;700&family=Lato&family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>Verificar</title>
</head>
<body class="flex text-center items-center bg-slate-700">
    <div class="justify-center">
        <h1 id="text-info" class="text-7xl text-white">Verificando...</h1>
    </div>
    </div>
    <script src="index.js"></script>
</body>
</html>