<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="style.css">
    <link rel="icon" type="image/icon-x"  href="/img/Blue Minimalist Medical Logo.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="icon" type="image/icon-x"  href="/img/favicon-32x32.png">


</head>
<body>
    <section class="bg-gray-50 min-h-screen flex items-center
    justify-center">
    <div class="bg-gray-100 flex rounded-2xl shadow-lg max-w-3xl p-5">
        <div class="md:w-1/2 px-16">
            <h2 class="font-bold text-2xl text-indigo-950">Registrate Ahora</h2>
            <p class="text-sm mt-3 text-indigo-950">Registrate y disfruta de nuestros servicio de Consultas</p>
            <form id="registro" action="" class="flex flex-col gap-3">
                
                <p class="mt-2 text-sm text-indigo-950">Nombre y Apellido</p>
                <input type="text" id="name" name="name" autocomplete="off"
                class="p-2 rounded-xl border 
                focus:outline-blue-600" 
                placeholder="Nombre y Apellido">
               <p class="text-xs">El nombre y el apellido deben comenzar con mayusculas</p>
                
                <p class="text-sm text-indigo-950">Ingrese su correo</p>
                <input id="email-input" autocomplete="off" class="p-2 rounded-xl border
                 focus:outline-blue-600" type="email" 
                 name="email" placeholder="Email">
                <p class="text-xs">El correo es obligatorio</p>

                <p class="text-sm mb-1 text-indigo-950">Ingrese una contraseña</p>
                <div class="relative">
                    <input id="pass-input" class="p-2 rounded-xl border w-full 
                    focus:outline-blue-600" type="password" 
                    name="contrasena" placeholder="contraseña">
                    <span id="toggle-password" class="absolute top-1/2 right-3 transform -translate-y-1/2 cursor-pointer">
                        <i class="far fa-eye"></i>
                      </span>
                    </div>
                    <p class="text-xs my-1">Debe tener al menos 1 letra minuscula,
                        <br>Debe tener al menos 1 letra <br>
                      Debe tener al menos 1 numero, <br>
                    Debe tener al menos 1 caracter especial</p>
                    
                    <p class="text-sm mt-1 mb-1 text-indigo-950">Confirmar Contraseña</p>
                    <div class="relative">
                        <input id="confirm" type="password" placeholder="Confirmar contraseña" 
                    class="p-2 rounded-xl border w-full focus:outline-blue-600">                      
                    <span id="toggle-password2" class="absolute top-1/2 right-3 transform -translate-y-1/2 cursor-pointer">
                        <i class="far fa-eye"></i>
                      </span>
                    </div>
                   
                
                <button type="submit" id="form-btn" disabled class="bg-indigo-600 hover:bg-indigo-900 
                text-white rounded-2xl p-2 disabled:opacity-50 disabled:cursor-not-allowed">Registrar</button>
            </form>
            <p id="alerta" class="show-notification text-sm mt-2 mb-2 text-white text-center rounded-lg bg-red-700"></p>

            <div class="mt-4 grid grid-cols-3
            items-center text-gray-500">
                <hr class="text-gray-600">
                <p class="text-center text-sm">O</p>
                <hr class="text-gray-600">
            </div>
                
                <div class="flex justify-between text-xs mt-1 py-4 items-center">
                    <p>Ya tienes Cuenta?</p>
                    <a href="/login">
                        <button class="py-2 px-5 bg-white border
                    rounded-xl hover:scale-110">Inicia Sesion</button>
                    </a>
                </div>
                
        </div>

        <div class="md:block hidden w-1/2">
            <img class="rounded-2xl py-40 h-screen" src="/img/undraw_Online_test_re_kyfx (1).png" alt="">
        </div>
    </div>
    </section>
    <script src="index.js"></script>
    <script src="../components/notificaciones2.js" ></script>
</body>
</html>